<h1>Please input username and password</h1>
<form action="sessions_url" method="post">
  Username: 
  <input type="text" name="user[user_name]" value="">
  <br>
  Password: 
  <input type="text" name="user[password]" value="">
  <br>
  <input type="submit" name="" value="Login">
</form>