<ul>
  <li>
  <h3>Username: <%= user.username %></h3>
  </li>
  <li>
    <img src="https://vignette.wikia.nocookie.net/harry-potter-pedia/images/a/a7/HarryPotter5.jpg/revision/latest?cb=20140608064755">
  </li>
</ul>
